<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="flaxeo_global_config" translate="label" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Flaxeo global config</label>
            <tab>general</tab>
            <resource>Flaxeo_GridSearchPerformance::config</resource>
            <group id="strictfields" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Strict fields for admin grid search</label>
                <field id="is_enable" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable strict search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable strict search</comment>
                </field>
                <field id="fields" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>List of fields</label>
                    <frontend_model>Flaxeo\GridSearchPerformance\Block\Adminhtml\Form\Field\FieldsList</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
